npVITE_SUPABASE_URL=https://fiedybkzfftzhfconutv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpZWR5Ymt6ZmZ0emhmY29udXR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NjY5MzcsImV4cCI6MjEwNjM0MjkzN30.IviZ_59CprWpoAydCnfYxE4jZfNv5Ml1uMjDHflPKdM