VITE_SUPABASE_URL=https://jbnmsnioljojyvtjygzd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impibm1zbmlvbGpvanl2dGp5Z3pkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE1MTg5OTEsImV4cCI6MjEwNzA5NDk5MX0.MeCsgD7wUU0uVDCPPBRiSDY6A6j7-vmNTNMobcVVw3I